@import 'variables';
@import 'mixins';

/* ==========================================================================
about-us
========================================================================== */

.about-us {
  color: $color-2;
  background-color: $background-color-base;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 38px;
    width: 100%;
    background-image: url('../img/svg/zigzag-fill-desktop-thin.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about-us__container {
  padding: 15px 30px 45px;

  @include screen(md) {
    padding: 40px 50px 140px;
  }
}

.about-us__wrapper {
  margin-bottom: 60px;

  @include screen(md) {
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    div {
      width: 300px;
    }
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 30px;
  color: $color-2;
  font-family: $font-family-base;
  font-size: 25px;
  font-weight: $font-weight-bold;

  @include line-height(25, 30);

  @include screen(md) {
    margin-bottom: 40px;
    font-size: 43px;

    @include line-height(43, 50);
  }
}

.about-us__icon {
  color: $color-7;
  margin-bottom: 18px;
}

.icon--flower {
  width: 32px;
  height: 37px;
}

.icon--box {
  width: 47px;
  height: 27px;
}

.icon--heart {
  width: 34px;
  height: 27px;
}

.icon--ball {
  width: 35px;
  height: 34px;
}

.icon---rocket {
  width: 55px;
  height: 23px;
}

.icon--gift {
  width: 33px;
  height: 32px;
}

.about-us__subtitle {
  margin: 0;
  margin-bottom: 30px;
  color: $color-2;
  font-family: $font-family-base;
  font-size: 17px;
  font-weight: $font-weight-bold;

  @include line-height(17, 20);

  @include screen(md) {
    margin-bottom: 55px;
    font-size: 20px;

    @include line-height(20, 22);
  }
}

.about-us__slider-wrapper {
  @include screen(md) {
    position: relative;
    padding-top: 80px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 350px;
      height: 457px;
      top: 0;
      left: -50px;
      background-image: url('../img/review.jpg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../img/review@2x.jpg');
      }
    }
  }
}

.about-us__reviews-title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  color: $color-2;
  font-family: $font-family-base;
  font-size: 25px;
  font-weight: $font-weight-bold;

  @include line-height(25, 30);

  @include screen(md) {
    margin-bottom: 50px;
    font-size: 43px;

    @include line-height(43, 50);
  }
}

.reviews-slider__text {
  margin-bottom: 25px;
  color: $color-base;
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: $font-weight-base;

  @include line-height(15, 30);

  @include screen(md) {
    margin-bottom: 40px;
    font-size: 17px;

    @include line-height(17, 30);
  }
}

.reviews-slider__author {
  margin-bottom: 35px;

  @include screen(md) {
    margin-bottom: 0;
  }
}

.reviews-slider__author-name {
  margin-bottom: 15px;
  color: $color-2;
  font-size: 17px;
  font-weight: $font-weight-bold;
  font-family: $font-family-base;

  @include line-height(17, 24);
}

.reviews-slider__author-insta {
  color: $color-base;
  font-size: 17px;
  font-weight: $font-weight-base;
  font-family: $font-family-base;
  cursor: pointer;

  @include line-height(17, 30);
  @include clear-link;
}

// tiny-slider custom styles
//-----------------------------------------------------------

.tns-controls {
  width: 260px;
  height: 50px;
  margin: 0 auto;

  @include screen(md) {
    position: relative;
    width: 180px;
    margin: 0;
    margin-left: auto;
    margin-top: -50px;
  }

  button {
    padding: 0;
    width: 130px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border: 1px solid $background-color-6;
    cursor: pointer;

    &:first-child {
      background-image: url('../img/svg/icon-left-arrow.svg');
      border-right: 0;
    }

    &:last-child {
      background-image: url('../img/svg/icon-right-arrow.svg');
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @include screen(md) {
      width: 90px;
      border: 0;
    }
  }
}

//----------------------------------------------------------

.about-us__link {
  margin-top: 35px;
  width: 100%;
  padding: 13px 0;

  @include screen(md) {
    width: 175px;
    position: absolute;
    top: 50px;
    right: 0;
  }
}
