@import '../variables';
@import '../mixins';

/* ==========================================================================
site-header
========================================================================== */

.main-nav {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  background-color: $background-color-base;
}

.logo__img {
  width: 86px;
  height: 35px;
}

.main-nav__link {
  float: left;
  display: block;
  padding: 22px 30px;
  color: $color-2;
  font-family: inherit;
  font-size: inherit;
  font-weight: $font-weight-bold;
  line-height: inherit;
  font-style: inherit;
  text-decoration: none;
  border-top: 1px solid $color-4;
  transition: opacity 0.15s ease-out;

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 1px solid $color-4;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include screen(lg) {
    &:last-child {
      border-bottom: 0;
    }
  }
}

.toggler {
  padding: 39px 30px;
  display: none;
  cursor: pointer;
  border-top: 0;
  background-color: #fff;
  background-image: url('../img/svg/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.toggler.is-open {
  background-image: url('../img/svg/icon-menu-cross.svg');
}

.icon--basket {
  width: 21px;
  height: 18px;
  margin-right: 3px;
  margin-bottom: 3px;
}

@media (max-width: 991px) {
  .main-nav__link:not(:first-child) {
    display: none;
  }

  .main-nav__link.toggler {
    float: right;
    display: block;
  }

  .main-nav.responsive {
    position: relative;
  }

  .main-nav.responsive .main-nav__link.toggler {
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-nav.responsive .main-nav__link {
    float: none;
    display: block;
    text-align: center;
  }
}

@include screen(lg) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__wrapper {
    max-width: 750px;
  }

  .main-nav__link {
    padding: 25px 20px;
    max-width: 210px;
    border: 0;
  }

  .logo {
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo__img {
    width: 113px;
    height: 46px;
  }

  .toggler {
    display: none;
  }
}

@include screen(xl) {
  .main-nav__wrapper {
    max-width: 900px;
  }

  .main-nav__link {
    padding: 30px 20px;
  }

  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo__img {
    width: 149px;
    height: 72px;
  }
}
