@import 'variables';
@import 'mixins';

/* ==========================================================================
base
========================================================================== */

body {
  min-width: 320px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-style: $font-style-base;
  font-weight: $font-weight-base;
  color: $color-base;
  background-color: $background-color-base;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-style: none;
}

video {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/**
 * Invisible (hidden elements take up space on the page)
 */

.invisible {
  visibility: hidden;
}

/**
 * Screen reader only
 */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[tabindex="-1"]:focus {
  outline: none;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
