@import "variables";
@import "mixins";

/* ==========================================================================
buttons
========================================================================== */

.btn {
  display: inline-block;
  padding: 0;
  border: solid 1px transparent;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.btn--main {
  color: $color-btn;
  background-color: $background-color-btn;
  font-family: $font-family-btn;
  font-size: $font-size-btn;
  font-weight: $font-weight-btn;
  font-style: $font-style-btn;
  line-height: $line-height-btn;
  text-transform: $text-transform-btn;
  border: $border-btn;
  border-radius: $border-radius-btn;
  letter-spacing: $letter-spacing-btn;

  &:hover,
  &:focus {
    color: $color-btn-2;
    background-color: $background-color-btn-2;
  }

  &:active {
    color: $color-btn-3;
  }
}
