@import "variables";
@import "mixins";

/* ==========================================================================
buttons
========================================================================== */

.btn {
  display: inline-block;
  padding: 0;
  border: solid 1px transparent;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.btn--main {
  color: #444;
  background-color: transparent;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
  border: 2px solid #444;
  border-radius: 0;
  letter-spacing: normal;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #444;
  }

  &:active {
    color: #7c7c7c;
  }
}

.btn--green {
  color: #fff;
  background-color: #63d1bb;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  letter-spacing: normal;

  &:hover,
  &:focus {
    background-color: #4fa795;
  }

  &:active {
    color: #ccc;
  }
}
