@import 'variables';
@import 'mixins';

/* ==========================================================================
grid
========================================================================== */

.container {
  width: auto;
  padding: 0 30px;

  @include screen(md) {
    padding: 0 50px;
  }

  @include screen(xl) {
    width: 1250px;
    margin: 0 auto;
  }
}

//section {
//  padding: px;
//  margin: px;
//
//  @include screen(md) {
//    padding: px;
//    margin: px;
//  }
//
//  @include screen(xl) {
//    padding: px;
//    margin: px;
//  }
//}

//article {
//  padding: px;
//  margin-bottom: px;
//
//  @include screen(md) {
//      padding: px;
//      margin: px;
//    }
//
//    @include screen(xl) {
//      padding: px;
//      margin: px;
//    }
//}
