@import 'variables';

//----------------------------------------------

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin clear-link {
  overflow: hidden;
  text-decoration: none;
}

//Mixins from https://medium.com/@justinbrazeau/10-useful-sass-mixins-for-automation-833cdee9d69b

//centering
//----------------------------------------------

@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  }

  @else if $position == 'horizontal' {
    left: 50%;
    transform: translateX(-50%);
  }

  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//media queries
//----------------------------------------------

@mixin screen($size) {
  @if $size == 'sm' {
    @media (min-width: $sm) {
      @content;
    }
  }

  @else if $size == 'md' {
    @media (min-width: $md) {
      @content;
    }
  }

  @else if $size == 'lg' {
    @media (min-width: $lg) {
      @content;
    }
  }

  @else if $size == 'xl' {
    @media (min-width: $xl) {
      @content;
    }
  }
}

//rem converter
//----------------------------------------------

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//retina images
//---------------------------------------------

@mixin retina($image) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url($image);
  }
}

//line-height
//---------------------------------------------
@mixin line-height($line-height) {
  line-height: ($line-height / $font-size-base);
}
