//body
$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-style-base: normal;
$font-weight-base: 400;
$color-base: #444;
$background-color-base: #fff;

//colors
$color-2: #000;
$color-3: #46c1ae;
$color-4: #ececec;
$color-5: #fff;
$color-6: #1d1d1d;
$background-color-2: #f1f1f1;
$background-color-3: #f9f9f9;
$background-color-4: #63d1bb;
$background-color-5: #56c3b2;

//typography
$font-weight-bold: 700;

//viewports
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1250px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//btns
$font-family-btn: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$color-btn: #444;
$color-btn-2: #fff;
$color-btn-3: #7c7c7c;
$border-btn: 2px solid $color-btn;
$border-radius-btn: 0;
$background-color-btn: transparent;
$background-color-btn-2: #444;
$font-size-btn: 17px;
$font-weight-btn: 700;
$font-style-btn: normal;
$line-height-btn: 1.25;
$text-transform-btn: uppercase;
$letter-spacing-btn: normal;
